<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sharetea.sharetea">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RewardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SwipeActivity" android:theme="@style/Base.Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>